<!DOCTYPE html>
<html>
  <% include ./partials/head %>
  <body>
    <h1>Edit Agenda</h1>
    <form action="/agendas/edit/<%= dataAgenda.id %>" method="post">
      <label for="name">Name : </label>
      <input type="text" name="name" value="<%= dataAgenda.name %>" placeholder=""><br>
      <label for="place">Place : </label>
      <input type="text" name="place" value="<%= dataAgenda.place %>" placeholder=""><br>
      <label for="date">Date : </label>
      <input type="date" name="date" value="<%= dataAgenda.date %>" placeholder=""><br>
      <label for="time">Time : </label>
      <input type="time" name="time" value="<%= dataAgenda.time %>" placeholder=""><br>
      <label for="max_player">Max Player : </label>
      <input type="number" name="max_player" value="<%= dataAgenda.max_player %>" placeholder=""><br>
      <input type="submit" name="" value="edit">
    </form>
  </body>
</html>
