<!DOCTYPE html>
<html>
  <% include ./partials/head %>
  <body>
    <% include ./partials/container %>
    <h1 class="title is-1 light-blue white-text text-darken-2">Sport's List</h1>
    <a class="button is-primary" href="/sport_lists/add">Add Sport</a>
    <br>
    <table class="striped">
      <tr>
        <th>NO</th>
        <th>ID</th>
        <th>NAME</th>
        <th>ACTION</th>
      </tr>

      <% let count = 1 %>
      <% rowSportLists.forEach(sport => { %>
      <tr>
        <td><%= count++ %></td>
        <td><%= sport.id %></td>
        <td><%= sport.name %></td>
        <td>
          <a class="button is-link" href="/sport_lists/edit/<%= sport.id %>">Edit</a><br><br>
          <a class="button is-danger" href="/sport_lists/delete/<%= sport.id %>" onclick="return confirm (`Are you sure to delete this item?`)">Delete</a>
        </td>
      </tr>
      <% }) %>
    </table>
  </div>
  </body>
</html>
